/* #submitForm {
}

#inputs {
} */

table {
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    text-align: left;
    background-color: #878787;
}
  
td{
    border: 1px solid black;
    text-align: left;
}
  
tr:nth-child(even) {
    background-color: lightgray;
}